.searchar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

.search-input {
  display: inline-block;
  margin: 40px;

}
.sort-by-options {
  display: inline-block;
  margin: 0px 30px;
  justify-content: center; /* Center items horizontally */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 7px;
}

.sort-by-options h2 {
  text-align: center;
}

.sort-by-options:hover {
  transform: scale(1.05); /* Scale the element slightly */
  box-shadow: 0 0 10px black; /* Add a shadow effect */
  background-color: aqua;
}

#selected-location {
  width: 45%; 
  padding: 10px;
  margin: 5px;
}

#search-terms {
  width: 45%;
  padding: 10px;
  margin: 5px;
}

/* Style for the search-button */
#search-button {
  display: block; /* Place the button below the inputs */
  margin: 0 auto; /* Center the button horizontally */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
